.button {
  display: inline-block;
  padding: 0 20px;
  font-family: $roboto;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;
  letter-spacing: 0.05em;
  transition: all 0.5s linear;
}
