.header {
  position: relative;
  background-color: $beige;

  &::before {
    position: absolute;
    content: "";
    top: 0;
    left: 36%;
    width: 496px;
    height: 768px;
    background: url("../../img/ellipse.png") no-repeat;
  }
}

.header__wrapper {
  @include container-desktop;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.header__logo-image {
  width: 125px;
  height: 31px;
}

.header--index .header__wrapper {
  justify-content: flex-start;
}

@media (max-width: $desktop-width) {
  .header {
    background-color: rgba(234, 227, 212, 0.3);

    &::before {
      display: none;
    }
  }
}

@media (max-width: $tablet-width) {
  .header__wrapper {
    @include padding-mobile;
    justify-content: flex-start;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .header__logo-image {
    width: 104px;
    height: 26px;
  }
}
