.menu-site {
  width: 60%;
}

.menu-site__list {
  @include reset-list;
  display: flex;
  justify-content: center;
  font-family: $roboto;
  font-size: 16px;
  color: $grey;
}

.menu-site__item {
  &:not(:last-child) {
    margin-right: 9%;
  }
}

.menu-site__link {
  color: $grey;

  &:hover,
  &:focus {
    color: $natural;
  }

  &--current {
    color: #a69876;
  }
}

.header--index .menu-site {
  position: absolute;
  top: 70px;
  left: 45px;
  z-index: 10;
  display: none;
  width: auto;
}

.header--index .menu-site__list {
  display: block;
  padding: 20px;
  background-color: rgba($beige, 0.95);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.header--index .menu-site__item {
  &:not(:last-child) {
    margin-bottom: 15px;
    margin-right: 0;
  }
}

.header--index .menu-site--open {
  display: block;
}

@media (max-width: $tablet-width) {
  .menu-site {
    position: absolute;
    top: 60px;
    left: 20px;
    z-index: 10;
    display: none;
    width: auto;
  }

  .header--index .menu-site {
    top: 60px;
    left: 20px;
  }

  .menu-site__list {
    display: block;
    padding: 20px;
    background-color: rgba($beige, 0.95);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }

  .menu-site__item {
    &:not(:last-child) {
      margin-bottom: 15px;
    }
  }

  .menu-site--open {
    display: block;
  }
}
