.menu-user {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-left: auto;
}

.menu-user__item {
  margin-left: 20px;

  &--search svg {
    width: 16px;
    height: 16px;
  }

  &--favourites svg {
    width: 21px;
    height: 18px;
  }

  &--basket svg {
    width: 18px;
    height: 16px;
  }
}
