.menu-user {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.menu-user__item {
  margin-left: 20px;
}

.header--index .menu-user {
  margin-left: auto;
}

@media (max-width: $tablet-width) {
  .menu-user {
    margin-left: auto;
  }
}
