$dark: #1b1a17;

$white: #ffffff;
$black: #111111;
$grey: #4c4c4c;
$purple: #8a145b;
$maroon: #e12457;
$pink: #ffcfdf;
$lilac: #908bb1;
$playfair-display: "Playfair Display", "Times New Roman", serif;
$prata: "Prata", "Times New Roman", serif;
$roboto: "Roboto", "Arial", sans-serif;
$mobile-width: 320px;
$tablet-width: 750px;
$desktop-width: 1170px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
